<h1 class="title">Remote Control Web Real Time</h1>
<div class="container-fluid">
    <center>
        <h3 class="title">Somethings can do with us</h3>
    </center>
    <div class="row">
        <div class="col-md-4">
            <a href="/#/gameremote" class="thumbnail static-hight-thum"  >
                <img src="images/game.jpg" class="height-img-thum">
            </a>
            <center>
                <h5 class="title">Control Your Games</h5>
                <i  ng-if="choose.choose1" class="fa fa-hand-o-up fa-4x" style="color:white" aria-hidden="true"></i>
            </center>
        </div>
        <div class="col-md-4">
            <a href="/#/videoremote" class="thumbnail static-hight-thum"  >
                <img  src="images/videoplayer.png" class="height-img-thum">
            </a>
            <center>
                <h5 class="title">Control Your Videos</h5>
                <i ng-if="choose.choose2" class="fa fa-hand-o-up fa-4x" style="color:white" aria-hidden="true"></i>
            </center>

        </div>
        <div class="col-md-4">
            <a href="/#/slideremote" class="thumbnail static-hight-thum"  >
                <img src="images/slide.jpg" class="height-img-thum">
            </a>
            <center>
                <h5 class="title">Control Your Presentation</h5>
                <i ng-if="choose.choose3" class="fa fa-hand-o-up fa-4x" style="color:white" aria-hidden="true"></i>
            </center>


        </div>
    </div>
</div>
