<div class="reveal">
    <div class="slides">
        <section>
            <h1>Presentation on browser with your mobile</h1>
            <h3>Presentation real time app</h3>
        </section>
        <section>
            <h1>reveal.js</h1>
            <ul>
                <li>Developed by Hakim El Hattab</li>
                <li>open source</li>
            </ul>
        </section>

        <section>
            <h1>About the Remote Control</h1>
            <ul>
                <li class="fragment">Hello Women Hackathon</li>
                <li class="fragment">We make a new things</li>
            </ul>
        </section>

    </div>
</div>
