
<head>
    <style>
        #playlist {
            display:table;
        }
        #playlist li{
            cursor:pointer;
            padding:8px;
            color: white;

        }

        #playlist li:hover{
            color:blue;
        }
        #videoarea {
            float:left;
            width:640px;
            height:480px;
            margin:10px;
            border:1px solid silver;
        }
    </style>
</head>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul id="playlist" ng-repeat="val in list.lists">
                <li movieurl="{{val}}" moviesposter="http://html5videoformatconverter.com/data/images/screen.jpg">Movie {{$index}}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <video id="videoarea" controls="controls" poster="http://html5videoformatconverter.com/data/images/screen.jpg" src=""></video>
        </div>
    </div>
</div>


