body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2c3e50;
  font-family: font;
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: font;
  src: url("../fonts/Gotham%20Book.ttf");
}

.title {
  color: #ecf0f1;
}

.static-hight-thum {
  height: 300px;
}

.thumbnail .height-img-thum{
  height: 290px;
  border-radius: 5px;
}